<div class="row text-center">
    <div class="col-4">
        <div class="stats-card">
            <div class="stats-number">{{ stats.total_players }}</div>
            <div class="stats-label">Players</div>
        </div>
    </div>
    <div class="col-4">
        <div class="stats-card">
            <div class="stats-number">{{ stats.total_games }}</div>
            <div class="stats-label">Games</div>
        </div>
    </div>
    <div class="col-4">
        <div class="stats-card">
            <div class="stats-number">{{ stats.total_shutouts }}</div>
            <div class="stats-label">Shutouts</div>
        </div>
    </div>
</div>